/* import fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&family=Rubik+Bubbles&display=swap");

/* start global rules */

html * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --firstColor: #102a41;
  --secondColor: #777;
  --thirdColor: #f1f5f8;
  --forthColor: #eaded7;
  --fifthColor: #c5a491;
}
body {
  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* prodcut */
.product > .images {
  position: relative;
}

.product .images .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product .images .cover:hover {
  opacity: 1;
}
.product .images .cover .icon {
  color: white;
  background-color: crimson;
  padding: 9px;
  font-size: 20px;
  border-radius: 50%;
}
.product .images .cover .icon svg {
  display: block;
}

.product > .images > img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product > .info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
  color: var(--secondColor);
}

.product .container > a {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  color: white;
  background: crimson;
  padding: 8px 10px;
  border-radius: 5px;
}
/* counter */
.counter {
  margin-top: 22px;
  font-family: cursive;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  width: 117px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

/* start header */

header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  height: 70px;
  align-items: center;
  position: relative;
}
header .logo {
  font-size: 22px;
  font-family: "Rubik Bubbles", cursive;
}
header .logo span {
  color: crimson;
}
header .bars {
  font-size: 26px;
  color: crimson;
}
@media (min-width: 768px) {
  header .bars {
    display: none;
  }
}
header .bars > svg {
  display: block;
}
header .menu {
  position: absolute;
  width: 100%;
  height: calc(100vh - (56px + 3px));
  left: 0;
  top: 100%;
  padding: 0 20px;
  background-color: white;
  transition: transform 0.8s;
  transform: translateX(-100%);
  z-index: 5;
}

@media (min-width: 768px) {
  header .menu {
    display: flex;
    transform: translateX(0%);
    position: static;
    padding: 0;
    height: auto;
    transition: transform 0s;
  }
}
header .menu.active {
  transform: translateX(0%);
}

header .menu > ul {
  margin-top: 28px;
}
@media (min-width: 768px) {
  header .menu > ul {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
header .menu li {
  margin-top: 8px;
  padding: 10px 0;
  font-weight: 300;
  padding-left: 10px;
  position: relative;
  text-transform: capitalize;
}
header .menu li::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
}

@media (min-width: 768px) {
  header .menu li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px;
  }
  header .menu li:hover::after {
    background-color: crimson;
  }
}
header .menu li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
header .menu > .c_l {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  gap: 30px;
}
@media (min-width: 768px) {
  header .menu > .c_l {
    margin-top: 0;
  }
}
header .menu > .c_l > .cart {
  display: flex;
  gap: 10px;
  position: relative;
}
header .menu > .c_l > .cart span {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: crimson;
  color: white;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -5px;
}

header .menu > .c_l > .login {
  display: flex;
  gap: 10px;
}

/* start landing */

.landing {
  height: calc(100vh - (70px));
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media (min-width: 992px) {
  .landing {
    align-items: center;
  }
}
.landing .container {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .landing .container > div {
    display: grid;
    grid-template-columns: 32vw 400px;
    gap: 125px;
    align-items: center;
  }
}

.landing .content h2 {
  margin-top: 35px;
  font-size: 30px;
  width: 200px;
  line-height: 48px;
  color: var(--firstColor);
}
@media (min-width: 768px) {
  .landing .content h2 {
    font-size: 40px;
    width: 300px;
    line-height: 52px;
  }
}
.landing .content p {
  line-height: 32px;
  margin-top: 17px;
  color: var(--secondColor);
  transform: scale(0.9);
  animation: scale 2.5s forwards;
}
.landing .content p > span {
  opacity: 0;
  filter: blur(4px);
}
.landing .content > p > span:nth-child(1) {
  animation: frog 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(2) {
  animation: frog 0.7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(3) {
  animation: frog 0.7s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(4) {
  animation: frog 0.7s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(5) {
  animation: frog 0.7s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(6) {
  animation: frog 0.7s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(7) {
  animation: frog 0.7s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(8) {
  animation: frog 0.7s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(9) {
  animation: frog 0.7s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(10) {
  animation: frog 0.7s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(11) {
  animation: frog 0.7s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(12) {
  animation: frog 0.7s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(13) {
  animation: frog 0.7s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(14) {
  animation: frog 0.7s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(15) {
  animation: frog 0.7s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(16) {
  animation: frog 0.7s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(17) {
  animation: frog 0.7s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(18) {
  animation: frog 0.7s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(19) {
  animation: frog 0.7s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(20) {
  animation: frog 0.7s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(21) {
  animation: frog 0.7s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(22) {
  animation: frog 0.7s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(23) {
  animation: frog 0.7s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(24) {
  animation: frog 0.7s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(25) {
  animation: frog 0.7s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.landing .content > p > span:nth-child(26) {
  animation: frog 0.7s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.landing .content a:first-of-type {
  display: block;
  margin-top: 31px;
  color: white;
  background-color: crimson;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 100;
}

.landing .content .indicator {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translateX(-50%) rotate(45deg) scale(0.5);
  bottom: 25px;
  left: 50%;
}
@media (min-width: 992px) {
  .landing .content .indicator {
    display: none;
  }
}
.landing .content .indicator span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #71b7ef;
  border-right: 3px solid #71b7ef;
  animation: animate 1s linear infinite;
}
.landing .indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}

.landing .indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.25s;
}
.landing .indicator span:nth-child(3) {
  top: 0;
  left: 0;
  animation-delay: 0.5s;
}
.landing .indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.75s;
}
/* .landing .indicator span:nth-child(5) {
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
} */

.landing .images {
  display: none;
  position: relative;
}
.landing .images::after {
  content: "";
  background-color: #ddcbbf;
  width: 50%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: -30px;
  border-radius: 5px;
  z-index: 0;
}
@media (min-width: 992px) {
  .landing .images {
    display: flex;
  }
}
.landing .images img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}
.landing .images img:first-of-type {
  margin-top: 30px;
  max-width: 400px;
  position: relative;
  z-index: 1;
}
.landing .images img:nth-of-type(2) {
  position: absolute;
  width: 250px;
  bottom: 0px;
  left: -90px;
  z-index: 2;
}

/* featured products */

.featured-products {
  padding: 60px 0;
  background-color: var(--thirdColor);
}

.featured-products h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  color: var(--firstColor);
  font-size: 30px;
}
.featured-products .container > a {
  display: block;
  width: fit-content;
  background-color: #e35973;
  padding: 5px 9px;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  margin: auto;
  margin-top: 28px;
  letter-spacing: 1px;
}
.featured-products .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

/* features */

.features {
  padding: 60px 0;
  background: var(--forthColor);
}

.features .intro {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  column-gap: 27px;
}
@media (min-width: 992px) {
  .features .intro {
    flex-direction: row;
    justify-content: space-between;
  }
}
.features .intro h2 {
  color: var(--firstColor);
  max-width: 210px;
  line-height: 36px;
}
@media (min-width: 992px) {
  .features .intro h2 {
    font-size: 28px;
    max-width: 300px;
  }
}
.features .intro p {
  color: var(--secondColor);
  font-size: 14px;
  line-height: 24px;

  margin-top: 16px;
}
@media (min-width: 992px) {
  .features .intro p {
    font-size: 16px;
    margin-top: 0px;
    max-width: 60%;
  }
}
.features .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
  text-align: center;
}
.features .content .feature {
  background-color: var(--fifthColor);
  padding: 40px 0;
  margin-top: 35px;
  border-radius: 5px;
}
.features .feature .icon {
  background-color: #ebded6;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;

  padding: 18px;
  border-radius: 50%;
  font-size: 24px;
}
.features .feature .icon svg {
  display: block;
}
.features .feature .title {
  color: #463328;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .features .feature .title {
    font-size: 24px;
  }
}
.features .feature p {
  color: #6c5549;
  margin-top: 12px;
  font-size: 14px;
  line-height: 25px;
  padding: 0px 15px;
}

/* newsletter */
.newsletter {
  padding: 70px 0;
}
.newsletter .container {
  display: grid;
  row-gap: 22px;
}
@media (min-width: 992px) {
  .newsletter .container {
    display: grid;
    grid-template-columns: 60% 1fr;
    row-gap: 0px;
    column-gap: 45px;
    align-items: flex-end;
  }
}
.newsletter h2 {
  color: #c5a491;
}
.newsletter p {
  color: #4f4e4e;
  margin-top: 12px;
  font-size: 14px;
  line-height: 30px;
}
.newsletter form {
  height: 35px;

  display: flex;
  max-width: 500px;
  border-radius: 5px;
}

.newsletter input {
  display: block;
  border: solid 2px black;
  border-right: none;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}
.newsletter input::placeholder {
  color: black;
}
.newsletter .btn {
  background-color: #ac7a5f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: solid 2px black;
  border-radius: 0px 5px 5px 0px;
}
/* footer */
footer {
  background: #222222;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  width: fit-content;
  margin: auto;
  font-size: 17px;
}
footer p span {
  color: crimson;
}
/* current-path */

.current-path {
  background-color: var(--forthColor);
  padding: 34px 0 34px 20px;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .current-path {
    padding: 40px 0 40px 20px;
    font-size: 28px;
    font-weight: 700;
  }
}
.current-path a:first-child {
  color: #4d382b;
}
.current-path a:first-child:hover {
  color: black;
}
/* about */

.about .content {
  display: grid;
  gap: 50px;
  padding: 65px 0;
}
@media (min-width: 992px) {
  .about .content {
    grid-template-columns: repeat(2, calc(50% - 25px));
  }
}
.about .content .image {
  border-radius: 5px;
  overflow: hidden;
}
.about .image img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.about .info h2 {
  color: var(--firstColor);
  font-size: 30px;
  position: relative;
  width: fit-content;
}
@media (min-width: 992px) {
  .about .info h2 {
    color: var(--firstColor);
    font-size: 40px;
    position: relative;
    width: fit-content;
  }
}
.about .info h2::after {
  content: "";
  width: 60%;
  height: 4px;
  background: crimson;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.about .info p {
  margin-top: 24px;
  color: #5e5858;
  line-height: 27px;
  font-size: 15px;
}

@media (min-width: 992px) {
  .about .info p {
    margin-top: 24px;
    color: #5e5858;
    line-height: 30px;
    font-size: 16px;
  }
}

/* products */

.products .content {
  display: grid;
  margin-top: 60px;
  gap: 30px;
}
@media (min-width: 768px) {
  .products .content {
    margin-top: 60px;
    grid-template-columns: auto 1fr;
  }
}
/* filter */
.products .filter {
  padding-bottom: 20px;
}

.filter > input {
  padding: 8px 10px;
  width: 177px;
  border: none;
  background-color: var(--thirdColor);
  border-radius: 5px;
  font-size: 15px;
}
.products .filter > div {
  margin-top: 17px;
}
.products .filter li {
  cursor: pointer;
}

.products .filter h3 {
  font-size: 15.5px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.products .filter .category ul {
  margin-top: 12px;
}
.products .filter .category li {
  font-size: 15px;
  margin: 10px 0;
  color: #316792;
  text-transform: capitalize;
  padding: 1px 0;
  width: fit-content;
}

.products .filter .category li.checked {
  border-bottom: solid 1px #316792;
}

.products .filter .company select {
  margin-top: 12px;
  border: none;
  background-color: var(--thirdColor);
  border-radius: 3px;
  font-size: 14px;
  padding: 3px 5px;
}

.products .filter .colors ul {
  margin-top: 12px;
  display: flex;
}
.products .filter .colors li:not(:first-child) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 6px;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .filter .colors li:not(:first-child) > svg {
  color: white;
}
.products .filter .colors li:first-child {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.products .filter .price p {
  margin-top: 12px;
}
.products .filter .price input {
  margin-top: 7px;
}

.products .filter .free-shipping {
  display: flex;
}

.products .filter .free-shipping > input {
  display: block;
  margin-left: 81px;
  width: 15px;
}
.products .clear {
  background: crimson;
  width: fit-content;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* list */
.content .list {
  padding-bottom: 50px;
}
.content .list .top {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .content .list .top {
    flex-direction: row;
    align-items: center;
  }
}
.content .list .top .view {
  display: flex;
}
.content .list .top .view svg {
  display: block;
  border: solid 1px var(--firstColor);
  padding: 2.5px;
  font-size: 23px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--firstColor);
}
.content .list .top .view svg.on {
  background: var(--firstColor);
  color: white;
}
.content .list .top .view svg:first-child {
  margin-right: 11px;
}

.content .list .top p {
  margin-top: 16px;
  font-size: 14px;
  color: var(--firstColor);
}
@media (min-width: 992px) {
  .content .list .top p {
    margin: 0 0 0 20px;
  }
}
.content .list .top span {
  display: block;
  width: 100%;
  height: 1px;
  background: #6c8396;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .content .list .top span {
    width: 0;
    height: 1px;
    margin: 0 20px;
    flex-grow: 1;
  }
}
.content .list .top .sort {
  margin-top: 21px;
  font-size: 18px;
}
@media (min-width: 992px) {
  .content .list .top .sort {
    margin-top: 0px;
    font-size: 16px;
  }
}
.content .list .top .sort label {
  margin-right: 16px;
}
.content .list .top .sort select {
  border: none;
  font-weight: 600;
}
/* simple-list */
.simple-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  column-gap: 22px;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .simple-list {
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  }
}

.simple-list .product .images {
  border-radius: 4px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .simple-list .product .images img {
    height: 150px;
  }
}
.simple-list .product .info {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 400;
}
.simple-list .product .info p {
  color: black;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.simple-list .product .info .price {
  color: crimson;
}
/* detailed-list */

.detailed-list {
  margin-top: 30px;
  display: grid;
  row-gap: 44px;
}
.detailed-list .detailed-product {
  display: grid;
  row-gap: 20px;
  column-gap: 45px;
}
@media (min-width: 992px) {
  .detailed-list .detailed-product {
    grid-template-columns: auto 1fr;
  }
}

.detailed-product .image {
  border-radius: 4px;
  overflow: hidden;
}
.detailed-product .image img {
  width: 100%;
  height: 190px;
  display: block;
  object-fit: cover;
}
@media (min-width: 768px) {
  .detailed-product .image img {
    width: 290px;
    height: 188px;
  }
}

.detailed-product h2 {
  color: var(--firstColor);
  font-size: 19px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.detailed-product .price {
  margin-top: 7px;
  color: crimson;
  font-size: 15px;
  font-weight: 700;
}
.detailed-product .description {
  margin-top: 7px;
  font-size: 14px;
  color: #161515;
  line-height: 22px;
}
.detailed-product .details {
  display: block;
  margin-top: 14px;
  font-size: 12px;
  background-color: #00b991;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 9px;
  border-radius: 7px;
  letter-spacing: 0.8px;
  cursor: pointer;
  color: white;
}

/* item */

.item .container {
  padding-top: 65px;
  padding-bottom: 65px;
}
.item .container > a {
  display: block;
  background-color: #559f4f;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 11px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.item .content {
  margin-top: 35px;
  display: grid;
  gap: 30px;
}
@media (min-width: 992px) {
  .item .content {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

.item .content .images .main-image {
  overflow: hidden;
  border-radius: 5px;
  /* border: 1px solid black; */
}
/* @media (min-width: 992px) {
  .item .content .images .main-image {
    height: 69%;
  }
} */

.item .images .main-image img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
@media (min-width: 768px) {
  .item .images .main-image img {
    height: 70vh;
  }
}
@media (min-width: 992px) {
  .item .images .main-image img {
    height: 65vh;
  }
}
.item .images .list-images {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.item .images .list-images .image {
  overflow: hidden;
  border-radius: 5px;
  width: calc((100% - (12px * 4)) / 5);
  cursor: pointer;
  border: 1px solid black;
}
.item .images .list-images .image.active {
  border: 3px solid blue;
}

.item .list-images .image img {
  display: block;
  width: 100%;
  height: 50px;

  object-fit: cover;
}
@media (min-width: 425px) {
  .item .list-images .image img {
    height: 75px;
  }
}
@media (min-width: 992px) {
  .item .list-images .image img {
    height: 60px;
  }
}
.item .info {
  font-size: 14px;
}
@media (min-width: 768px) {
  .item .info {
    font-size: 15px;
  }
}
.item .info h2 {
  color: var(--firstColor);
  font-size: 32px;
  text-transform: capitalize;
}
.item .info .rev {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.item .info .rev .stars {
  width: fit-content;
  position: relative;
  display: flex;
  gap: 4px;
}

.item .info .rev .stars svg {
  display: block;
  color: gold;
}

.item .info .rev > p {
  color: var(--firstColor);
}
.item .info .price {
  margin-top: 19px;
  font-weight: 700;
  color: #559f4f;
}
.item .info .description {
  margin-top: 13px;
  line-height: 26px;
  font-weight: 400;
}
.item .info .references {
  margin-top: 5px;
  padding: 17px 0;
  display: grid;
  gap: 18px;
}
.item .info .references > div {
  display: flex;
  gap: 50px;
}
.item .info .references > div > b {
  width: 100px;
}
.item .info .references > div > span {
  color: var(--firstColor);
}
.item .info > span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #89aece;
}

.item .info .colors {
  margin-top: 30px;
  display: flex;
  gap: 68px;
  font-weight: 700;
  text-transform: capitalize;
}

.item .info .colors > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .info .colors > div {
  display: flex;

  gap: 16px;
}
.item .info .colors > div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
}
.item .info .colors > div span svg {
  color: white;
  font-size: 17px;
}
.item .info .counter span {
  cursor: pointer;
}
.item .info > a {
  margin-top: 17px;
  display: block;
  background-color: #559f4f;
  width: fit-content;
  font-size: 14px;
  padding: 6px 15px;
  color: white;
  border-radius: 5px;
}

/* cart */

.cart .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cart .list .top {
  display: none;
  border-bottom: 1px solid #bbbbd4;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .cart .list .top {
    display: flex;
  }
}
.cart .list .top ul {
  display: flex;
  font-size: 13.5px;
  color: #102a41b3;
  flex-grow: 1;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .cart .list .top ul {
    font-size: 16px;
  }
}
.cart .list .top li {
  width: 120px;
}
.cart .list .top li:not(:first-child) {
  text-align: center;
}
.cart .list .top .image-space {
  width: 86px;
}
.cart .list .top .icon-space {
  width: 20px;
}
.cart .list .bottom {
  padding: 30px 0;
  border-bottom: 1px solid #bbbbd4;
}
.cart .list .bottom .cart-item {
  display: flex;
  align-items: center;
}
.cart .list .bottom .cart-item:not(:last-child) {
  margin-bottom: 24px;
}
.cart .bottom .cart-item .image {
  overflow: hidden;
  border-radius: 5px;
  width: fit-content;
}
.cart .bottom .cart-item .image img {
  width: 58px;
  height: 59px;
  object-fit: cover;
  display: block;
}
@media (min-width: 425px) {
  .cart .bottom .cart-item .image img {
    width: 86px;
    height: 111px;
  }
}

.cart .cart-item .content {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}
.cart .cart-item .content div {
  width: 85px;
}
@media (min-width: 425px) {
  .cart .cart-item .content div {
    width: 120px;
  }
  .cart .cart-item .content div:not(:first-child) {
    text-align: center;
  }
}
.cart .cart-item .content .info {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4.5px;
}
@media (min-width: 425px) {
  .cart .cart-item .content .info {
    font-size: 14px;
    gap: 8px;
  }
}
.cart .cart-item .content .info .name {
  color: var(--firstColor);
  font-weight: 900;
}
.cart .cart-item .content .info .color {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart .cart-item .content .info .color > span {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 36%;
}
.cart .cart-item .content .info .mini-price {
  color: #559f4f;
  text-align: start;
}
@media (min-width: 768px) {
  .cart .cart-item .content .info .mini-price {
    display: none;
  }
}
.cart .cart-item .content .price {
  display: none;
  color: #559f4f;
}
@media (min-width: 768px) {
  .cart .cart-item .content .price {
    display: block;
  }
}
.cart .cart-item .content .counter {
  margin-top: 0px;
  font-size: 24px;
  justify-content: space-around;
  padding-left: 0px;
  cursor: pointer;
}
@media (min-width: 425px) {
  .cart .cart-item .content .counter {
    font-size: 32px;

    justify-content: space-between;
  }
}
.cart .cart-item .content .subtotal {
  display: none;
}
@media (min-width: 768px) {
  .cart .cart-item .content .subtotal {
    display: block;
  }
}
.cart .cart-item .icon {
  padding: 3px 1px;
  background-color: crimson;
  border-radius: 5px;
}
.cart .cart-item .icon svg {
  display: block;
  font-size: 20px;
  color: white;
}
.cart .shopping-clear {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.cart .shopping-clear > a,
.cart .shopping-clear .clear {
  color: white;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 425px) {
  .cart .shopping-clear > a,
  .cart .shopping-clear .clear {
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
  }
}
.cart .shopping-clear > a {
  background-color: #559f4f;
}
.cart .shopping-clear .clear {
  background-color: black;
}
.cart .paying {
  margin: auto;
  margin-top: 50px;
  max-width: 350px;
}
@media (min-width: 768px) {
  .cart .paying {
    margin-right: 0;
  }
}
.cart .paying .detail {
  border: 1px solid #9595c6;
  border-radius: 5px;
  padding: 30px;
}
.cart .paying .detail .row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-weight: 700;
  font-size: 14px;
}
.cart .paying .detail .row:nth-child(2) {
  font-weight: 500;
  margin-top: 12px;
}
.cart .paying .detail .row:nth-child(3) {
  border-top: 1px solid #9595c6;
  margin-top: 18px;
  padding-top: 30px;
  font-size: 22px;
}

.cart .paying .detail .row span {
  display: block;
  min-width: 60px;
}
.cart .paying .login {
  background-color: #559f4f;
  text-align: center;
  padding: 7px 0;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.cart .paying .login > a {
  color: white;
}

/* ErrorPage */
.error {
  display: flex;
  height: calc(100vh - 70px - 70px);
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  background-color: var(--forthColor);
  flex-direction: column;
}
.error h1 {
  font-size: 74px;
}
.error p {
  font-size: 16px;
  font-weight: 700;
}
.error a {
  margin-top: 23px;
  display: block;
  background-color: #559f4f;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  padding: 7px 10px;
  color: white;
  border-radius: 5px;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes frog {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes animate {
  0% {
    border-color: #71b7ef;
    transform: translate(0, 0);
  }
  25% {
    border-color: #71b7ef;
    transform: translate(15px, 15px);
  }
  25.1%,
  100% {
    border-color: black;
  }
}
